
<div class="container">
    <div class="text__list">
        <div class="text__list--item text-firstly ">
            <h1 class="text__main">contact us</h1>
        </div>
    </div>
</div>
<div class="wrap-contact100">
    <form class="contact100-form validate-form"  target="_self" action="https://formsubmit.co/khang251099@gmail.com" method="POST" >
        <div class="wrap-input100 rs1-wrap-input100 " >
            <span class="label-input100">Your Name</span>
            <input class="input100" type="text" name="name" placeholder="Enter your name" required="required" >
          
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 rs1-wrap-input100" >
            <span class="label-input100">Email</span>
            <input class="input100" type="text" name="email" placeholder="email@example.com"  required >
        
            <span class="focus-input100"></span>
        </div>
        <div class="wrap-input100 " >
            <span class="label-input100">Message</span>
            <textarea class="input100" name="message" placeholder="Your message here..." maxlength="500"   required ></textarea>
         
            <span class="focus-input100"></span>
        </div>
      
        <div class="container-contact100-form-btn"> 
            <button class="contact100-form-btn" type="submit"> 
                <span class="btn-submit">
                    Submit
                </span>
            </button>
        </div>
     
    </form>
   
</div>
<div class="container-map">
    <div class="map__list">
        <div class="map__item">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.1638014070163!2d106.73305361411653!3d10.79876356173548!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752794db8d610d%3A0xb0399ebc4fb0a2ac!2sAMIT%20GROUP%20Q2!5e0!3m2!1svi!2s!4v1617769953640!5m2!1svi!2s"
                width="700" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="info__item">
            <div class="info__text">
                <span class="text info__text--main">AMIT GROUP JOIN STOCK COMPANY </span><br>
            </div>
            <div class="info__text--foreign">
                <ul>
                    <li><span class="icon-item"><i class="fas fa-phone icon" [style.color]="'#fff'" ></i></span> <span>(+84) 287 101 7979</span></li>
                    <li><span clas="icon-item icon-item-mail"><i class="far fa-envelope icon" [style.color]="'#fff'"></i></span> <span>contact@amitgroup.vn</span></li>
                    <li><span class="icon-item"><i class="fas fa-map-marker-alt icon" [style.color]="'#fff'"></i></span><span>TP.HCM: 181 Dinh Tien Hoang, DaKao Ward, District 1,7000, Ho Chi Minh City, VietNam.</span></li>
                </ul>
            </div>
        </div>
    </div>
</div>


