<div class="container">
  <div class="text__list">
      <div class="text__list--item text-firstly ">
          <h1 class="text__main">About us</h1>
      </div>
  </div>
</div>
<div class="about-body grid wide">
  <div class="text-heading row">
      <div class="text-left col l-6 m-12 c-12">
          <p [style.font-size.px]="'40'">Hello. Our company has been present for over 2 years in the market. We make the most of all our customers.</p>
      </div>
      <div class="text-right col l-6 m-12 c-12">
          <div class="text-flex">
              <div class="col l-6 m-12 c-12 text__left--right">
                Amit group là một nhóm các công ty và nhóm công nghệ liên kết và hỗ trợ nhau cùng phát triển, chúng tôi có những giải pháp công nghệ cập nhật nhất cho khách hàng với chi phí hợp lý.

Cuộc cách mạng công nghệ thông tin 4.0 đã thúc đẩy mạnh mẽ sự cạnh tranh trong kinh doanh.
              </div>
              <div class="col l-6 m-12 c-12 text__right--right">
                Do đó, các Công ty khởi nghiệp và Doanh nghiệp không ngừng đổi mới và áp dụng công nghệ để thúc đẩy hiệu quả hơn, năng suất hơn.
                AMIT GROUP với nhiều thành viên trong nhóm hướng tới các sản phẩm công nghệ mới tại Việt Nam, đưa ra các giải pháp công nghệ tốt nhất cho doanh nghiệp.
              </div>
              
          </div>
      </div>
      <!-- <div class="image-body col l-8 l-o-2 m-12 c-12"></div> -->
  </div>
</div>
<div class="contact-us__content">
  <div class="contact-us__staff">
      <h1 class="text-ours">Our Company</h1>
      <p class="text-more">LOREM IPSUM DOLOR SIT AMET, CONSECTETURADIPISCING ELIT. DONEC AT LIGULA IN LIGULA ULTRICESVULPUTATE AT AC SAPIEN. IN JUSTO NEQUE, MALESUADAA LIBERO ET, LOREM IPSUM DOLOR SIT AMET,CONSECTETUR ADIPISCING ELIT</p>
      <a class="btn-orange" routerLink="/contact">CONTACT US</a>
  </div>
</div>


